{% if pagination %}
<tr><td colspan="10" align="center">
    {% if pagination.total > 1 %}
        <ul class="pagination">
        {% if pagination.current == 1 %}
        <li class="disabled">
          <a href="javascript:void(0);" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li>
          <a href="{{pagination.link}}/{{pagination.current-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for index in 1..pagination.total %}
            {% if pagination.current == index %}
                <li class="active"><a href="javascript:void()">{{ index }}</a></li>
            {% else %}
                <li><a href="{{pagination.link}}/{{index}}">{{ index }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pagination.current == pagination.total %}
        <li class="disabled">
          <a href="javascript:void(0);" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% else %}
        <li>
          <a href="{{pagination.link}}/{{pagination.current+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
        </ul>
    {% endif %}
</td></tr>
{% endif %}